name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[dev]"
        pip install rhylthyme-schema rhylthyme-cli
    - name: Run tests
      run: |
        pytest
    - name: Run linting
      run: |
        pip install flake8 black
        flake8 src tests
        black --check src tests
    - name: Check static files
      run: |
        find static -type f -name "*.css" -exec cat {} \; > /dev/null
        find static -type f -name "*.js" -exec cat {} \; > /dev/null
        find templates -type f -name "*.html" -exec cat {} \; > /dev/null 